<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>name : <%= data.name %></h1>
    <h1>sdt : <%= data.sdt %></h1>

    <form action="" id="contact-form" method="post">
        <label for="who">nhap tuoi</label><br>
        <input type="text" name="who" placeholder="tuoi cua ban..."><br>
        <label for="">nhap noi o</label><br>
        <input type="text" name="address" id=""><br>
        <label for="">email</label><br>
        <input type="text" name="email" id=""><br>
        <input type="submit" name="Send" id=""><br>
    </form>
</body>
</html>