<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/assets/xuly.js"></script>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <h1>day la trang TODO</h1>
    <form action="">
        <input type="text" name="catelogItem" placeholder="Add new catalog">
        <button type="submit">Add catalog</button>
    </form>
    <ul>
        <% for(var i=0; i < todos.length ; i++){ %>
            <li> <%= todos[i].item %></li>
        <% } %>
    </ul>
</body>
</html>